.wrapper {
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.wrapper label {
  width: fit-content;
}

.input-wrapper {
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  gap: 0.125rem;
}

.text-input {
  width: 100%;
  padding: 0.375rem;
}

.toggle-button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.menu {
  position: absolute;
  width: 18rem;
  background-color: white;
  margin-top: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 20rem;
  overflow-y: scroll;
  padding: 0;
  z-index: 10;
}

.menu.hidden {
  display: none;
}

.menu-item {
  padding: 0.5rem 0.75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.menu-item.highlighted {
  background-color: #93c5fd;
}
