{
  "extends": [
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jest",
    "kentcdodds/prettier",
  ],
  "rules": {
    "max-len": "off",
    "max-lines": "off",
    "func-style": "off"
  }
}
