node_modules
coverage
dist
.opt-in
.opt-out
.DS_Store
.next
.eslintcache
storybook-static
preact/

cypress/videos
cypress/screenshots

# these cause more harm than good
# when working with contributors
package-lock.json
yarn.lock
flow-coverage/
