sudo: false
language: node_js
cache:
  directories:
    - ~/.npm
    - ~/.cache
notifications:
  email: false
node_js: '8'
install: npm install
before_script:
  - npx cypress verify &
script:
  - kcd-scripts validate lint,build-and-test,test:cover
#  Cypress passes locally, but fails on CI. Fix that...
#  - kcd-scripts validate test:ssr,test:cypress
  - kcd-scripts validate test:ssr
  - kcd-scripts validate test:flow:coverage,test:ts
after_success: kcd-scripts travis-after-success
branches:
  only: master
