sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '8'
script:
  - npm start validate
after_success:
  - npx codecov
  - npm i -g semantic-release && semantic-release pre && npm publish && semantic-release post
branches:
  only:
    - master
