{
  "files": ["cypress/**/*.ts", "cypress/**/*.js"],
  "plugins": ["cypress"],
  "globals": {
    "cy": "readonly",
    "Cypress": "readonly",
    "expect": "readonly",
    "assert": "readonly"
  }
}
