{
  "rules": {
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "react/no-deprecated": "off",
    "no-console": "off"
  }
}
