{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4.5"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-macros",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
