{
  "extends": [
    "../node_modules/eslint-config-kentcdodds/possible-errors.js",
    "../node_modules/eslint-config-kentcdodds/es6/possible-errors.js",
    "../node_modules/eslint-config-kentcdodds/react.js",
    "../node_modules/eslint-config-kentcdodds/prettier.js",
    "../node_modules/kcd-scripts/eslint.js",
  ],
  "root": true,
  "rules": {
    "max-len": "off",
    "no-console": "off",
    "no-alert": "off",
    "react/prop-types": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-indent": "off"
  }
}
